@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

$main-blue : #1ea7dd;

body{
    background: #fafafa;
}

@mixin elipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@mixin buttonStyle {
    position: absolute;
    right: 20px;
    bottom: 9px;
    text-decoration: none;
    color: $main-blue;
    text-decoration: none;
    color: $main-blue;
    text-transform: uppercase;
    font-weight: bold;  

}
@mixin boxStyle {
    -webkit-box-shadow: 17px 20px 20px -20px rgba(209,209,209,1);
    -moz-box-shadow: 17px 20px 20px -20px rgba(209,209,209,1);
    border: 0.8px solid #e1e1e1;
}
body{font-family: 'Roboto', sans-serif;
}
.container.mt-5{
    @media(max-width: 480px){
        margin-top: 0 !important;
    }
}
.box{
    ul{
        margin-bottom: 0;
    }
    max-height: 987px;
    min-width: 734px;
    max-width: 875px;
    @include boxStyle;

    .info{
        padding: 20px 20px 0px 20px;
        position: relative;
        p{
            margin: 0;
        }
        .title{
            a{
                text-decoration: none;
            }
            p{
                color: #1ea7dd;
                font-size: 18px;
                @include elipsis;
            }
        }
        .location{
            padding: 5px 0 10px 0;
            color: #999;
            .address{
                font-weight: bold;
            }
            p{
                @include elipsis;
                font-size:16px;
                padding-right: 100px;
            }
            i{
                margin-right: 5px;
            }
        }
        .description{
            color:#000;
            font-size: 15px;
            margin: 0px 0px 15px 0px;

        }
        .prices{
            @media(max-width: 480px){
                display: none;
            }
            padding-bottom:10px;
            position: relative;
            bottom: 11px;
            .price{
                font-weight:900;
                font-size: 30px;
            }
        .inputValue{
            margin-right: 10px;
        }
            .btn{
                font-size:14px;
                padding: 5px;
            }
            .square-meters{
                margin-left: 5px;
                color: #009ee5;
                font-size: 18px;
                span{
                    font-style: italic;
                    margin-right: 5px;
                    font-size: 15px;    
                }
            }
        }
        .summary{
            @media(max-width: 480px){
                display: none;
            }
            min-height: 22px;
            .details{
                position: absolute;
                background:#eaeaea;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 38px;
                padding: 10px 0 14px 22px ;
                font-size: 14px;
                font-weight: bold;
            }
            div{
                margin-right: 10px;
            }
        }
        
        .summary *, .prices *{
            display: inline-block;
        }

        .contact a{
            @include buttonStyle;
        }
        .contact{
            position: absolute;
            right: 20px;
            bottom: -3px;
            @media(max-width:480px){
                position: static;
                float: right;
                margin-bottom: 14px;
            }
            a{
                font-weight: bold;
                text-decoration: none;
                color: $main-blue;
            }

        }

    }

    .glide{
        .highlight{
            position: absolute;
            background: #9159e6;
            z-index: 10;
            color: #fff;
            top: 18px;
            padding: 5px 10px 5px 10px;
            font-size: 14px;
            font-weight: bold;
        }
        .heart{
            position: absolute;
            z-index: 10;
            right: 10px;
            font-size: 30px;
        }
        .glide__arrow {
            border: none;
            font-size: 32px;
            top: 53%;
            box-shadow: none;
        }
        .glide__arrow--right {
            right: 0;
        }
        .glide__arrow--left {
            left: 0;
            top: 54%;
        }

    }

    @media(max-width: 480px){
        min-width: 320px;
        max-width: 414px;
    }
    .slider{
        background: #eaeaea;
        .heart{
            position: absolute;
            top: 20px;
            right: 10px; 
            cursor: pointer;
            .heart-icon{
                background-image: url('../img/heart-off.svg');
                width: 30px;
                height: 27px;
                &.active{
                    background-image: url('../img/heart-on.svg');
                }
            }
        }
        .summary, .prices-mobile{
            display: none;
        }


        @media(max-width: 480px){
            .summary, .prices-mobile{
                display: block;
            }
            .summary *, .prices-mobile *{
                display: inline-block;
            }
            .prices-mobile{
                position: absolute;
                bottom: 31px;
                z-index: 10;
                color: #fff;
                font-size: 31px;
                font-weight: bold;
                left: 15px;
            }
            .summary{
                .details{
                    position: absolute;
                    color: #fff;
                    bottom: 9px;
                    left: 14px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}
.modal-content{
    border: 0.5px solid #e1e1e1;
    border-radius:unset;
    .close{
        margin:10px 10px 0px 0px;
    }

    .modal-header{
        border-bottom:none;
        p{
            color: #1ea7dd; 
            font-weight: bold; 
            font-size: 14px;
        }
    }
    .modal-body{
        padding:0 1rem;
        p{
            margin-bottom:2px;  
            font-size: 14px;
            font-weight: bold;
            color:#999;
        }
        .form-control{
            border:none;
            border-bottom: 1px solid #999;
            font-size: 14px;
            border-radius:0;
            &.error{
                border-bottom: 2px solid #e60000;
            }
        }   
        #result{
            color:red;
        }
    }
    .sendButton{
        border:none; 
        font-size: 14px;
        margin-bottom: 10px;
        background: unset;
        float: right;
        color: $main-blue;
        text-transform: uppercase;
        font-weight: bold;  
    
    }
    
}

